/*
Larry S.
-=Legend=-
-body
    -body classes
-header
    -header classes
-nav
    -nav classes
-main
    -main classes
-footer
    -footer classes
-id
*/
* {
    padding: 0;
    margin: 0;
}
/* body */
body {
    background-color: rgb(21, 21, 33);
}

/* header */

/* nav */
nav {
    background-color: lightblue;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
}

/* main */
.callToAction {
    padding: 10em auto 10em auto;
    margin: 10em auto 10em auto;
    text-align: center;
    background-color: yellow;
}

/* footer */

/* id */
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#login {
    text-align: right;
    background-color: red;
}